h3
{
    font-size: 1.4em;
    font-weight: bold;
    width: 230px; left: 0px; display: block;
}
a {
    color: #3E6389;
    text-decoration: none;
    outline: 0px none;
}

p {
    color: #888;
    font-size: 16px;
    min-height: 20px !important;
}
#content {
    clear: both;
    font-size: 16px;
    margin: 0 auto;
    max-width: 2550px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px 10px 2px 10px;
    font-family: "Raleway" !important;
    position: relative;
    margin-left: 30px;
    margin-right: 50px;
}

h2 {
    
    font-size: 24px;
    margin: 0;
    width: 2330px; left: 0px; display: block;
    padding: 9px 0px 0px 10px;
}

.featured {
    width: 2330px; left: 0px; display: block;
}
hr {
    background: #CCC none repeat scroll 0% 0% !important;
    height: 1px;
    margin-bottom: 10px !important;
    margin-top: 12px;

}

#outline-container-sec-1-1, #outline-container-sec-1-2, #outline-container-sec-1-3, #outline-container-sec-1-4, #outline-container-sec-1-5{
    position: relative;
    width: 300px;
    height: 300px;
    min-height: 150px !important;
    box-sizing: border-box;
    background: transparent url("../img/dotted-devider-v-o.png") no-repeat scroll left top;
    margin-bottom: 20px;
    display: block;
    padding: 1px 10px;
    margin: 5px;
    color: #888;
    border-radius: 3px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 15px !important;
    width: 233px;

}
#outline-container-sec-1{
    position: relative;
    top: -10px;
    width: 2300px;
}
#outline-container-sec-1-2 {
    top: -303px;
    left: 230px;

}
#outline-container-sec-1-3 {

    top: -607px;
    left: 470px;
}
#outline-container-sec-1-4 {
    top: -910px;
    left: 700px;
}
#outline-container-sec-1-5 {
    top: -1215px;
    left: 940px;
}
#sec-1{
    color: #2C99CE;
    font-size: 1.8em;
}
.breadcrumb {
    width: 2500px;

}
.title {
   color: #888;
}
td {
    width: 23px;
    vertical-align: text-bottom;
}

}